.navbar-custom {
    background-color: #2f2564;
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: white;
}

.logo {
    width: 120px;
    height: 60px;
}

.navbar-custom .nav-link:hover {
    color: #cfcfcf; 
}
